<!-- Navigation-->
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" id="mainNav">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <a class="navbar-brand m-0 textColor fw-bold brand" href="#page-top">
                <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{site.title}}" />
            </a>
            <div id="verticalbar" class="mx-xxl-2 mx-1 d-none d-lg-inline-block"></div>
            <a href="#page-top" class="nav-link textColor fw-lighter lh-sm brandSubHeading d-none d-lg-inline-block">MOLDOVA-NORWAY
                <br><span class="fw-medium brandSubHeading d-none d-lg-inline-block">Research and Business</span>
                <br><span class="fw-medium brandSubHeading d-none d-lg-inline-block">Development Council</span>
            </a>
            <div class="position-relative ms-4 d-none d-xl-inline-block">
                <!-- <input class="searchInput bg-body-tertiary iconCursor ps-md-5 p-1 p-md-2" type="search" placeholder="Search Rides" aria-label="Search">
                    <img class="position-absolute searchImg iconCursor" src="/static_files/svgs/search.svg" alt="search"> -->
            </div>
        </div>
        <div class="d-flex align-items-center">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ms-1"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <!-- <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li> -->
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    <!-- <li class="nav-item"><a class="nav-link" href="#"><i class="fi fi-gb"></i></a></li> -->
                </ul>
            </div>

            <div class="nav-item dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fi fi-gb"></i>
                  </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#"><i class="fi fi-ro"></i></a></li>
                  </ul>
            </div>
          
           
        </div>
    </div>
</nav>