#about {
    background-image: url('{{ site.baseurl }}/img/flytebru-over-bjrnafjorden copy.png');
    background-attachment: scroll;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}