$background-size: contain;
#about {
    // background-color: #40a0d8;
    background: repeating-radial-gradient(circle, darkkhaki, darkkhaki .5em, transparent .5em, transparent 1.5em);
    background-attachment: scroll;
    background-image: url("#{$base_url}img/flytebru-over-bjrnafjorden copy.png");
    background-image: url("#{$base_url}img/flytebru-over-bjrnafjorden copy.png"), radial-gradient(ellipse farthest-corner at 90% 90%, #9bcbf4 5%, #0479b5 100%);
    background-position: center bottom;
    background-size: $background-size;
    background-repeat: no-repeat;
    -webkit-background-size: $background-size;
    -moz-background-size: $background-size;
    -o-background-size: $background-size;
}