//
// Contact section styling
//

section#contact {
    background-color: $gray-900;
    background-image: url("#{$base_url}img/Imagine Moldova.jpg");
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-position: center;

    .section-heading {
        color: $white;
    }

    form#contactForm {
        .form-group {
            margin-bottom: $grid-gutter-width;

            input,
            textarea {
                padding: 1.25rem;
            }

            input.form-control {
                height: auto;
            }
        }

        .form-group-textarea {
            height: 100%;

            textarea {
                height: 100%;
                min-height: 10rem;
            }
        }

        p.help-block {
            margin: 0;
        }

        .form-control:focus {
            border-color: $primary;
            box-shadow: none;
        }

        ::-webkit-input-placeholder {
            font-family: $headings-font-family;
            font-weight: $headings-font-weight;
            color: $gray-400;
        }

        :-moz-placeholder {
            font-family: $headings-font-family;
            font-weight: $headings-font-weight;
            color: $gray-400;
        }

        ::-moz-placeholder {
            font-family: $headings-font-family;
            font-weight: $headings-font-weight;
            color: $gray-400;
        }

        :-ms-input-placeholder {
            font-family: $headings-font-family;
            font-weight: $headings-font-weight;
            color: $gray-400;
        }
    }
        /* Location, Phone, Email Section */
        .contact-list {
            list-style-type: none;
        }
    
        .list-item {
            line-height: 4;
            color: #fff;
            display: flex;
            align-items: center;
        }
    
        .contact-text {
            font-size: 1.56rem;
            font-weight: bold;
            letter-spacing: 1.9px;
            color: #fff;
        }
    
        .phone {
            margin-left: 56px;
        }
    
        .gmail {
            font-size: 0.93rem;
            margin-left: 56px;
            width: 100%;
            letter-spacing: 0px;
        }
    
        .contact-text a {
            color: #ffff;
            text-decoration: none;
            transition-duration: 0.2s;
        }
    
        .contact-text a:hover {
            color: #fff;
            text-decoration: none;
        }
}
