#verticalbar {
	height: 96px;
	width: 1px;
	background: #fff;
}

.textColor {
	color: #fff;
}

.navbar-brand > img:nth-child(1){
	width: 96px !important;
    height: 96px !important;
}

.d-lg-inline-block {
	display: inline-block !important;
}
